calibre/config/dynamic.pickle.json
calibre/config/viewer-webengine.json
calibre/config/viewer/annots/
calibre/config/gui.json
calibre/config/fonts/scanner_cache.json
calibre/config/caches
calibre/config/global.py.json
calibre/config/gui.py.json
calibre/config/conversion
calibre/config/xdg_open_with.json
